body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4a90e2, #63b3ed);
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    width: 90%; /* Изменили ширину на % для адаптации */
    max-width: 800px; /* Ограничили максимальную ширину */
    box-sizing: border-box; /* Добавили для правильного расчета ширины */
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.classroom-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.classroom {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 30px); /* На телефонах будет по 2 в ряд */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
     box-sizing: border-box;
}

.classroom:hover {
    transform: translateY(-5px);
}

.classroom h2 {
    color: #34495e;
    margin-bottom: 10px;
}

.temperature {
    font-size: 1.8em;
    font-weight: bold;
    color: #e74c3c;
    transition: color 0.3s ease;
}
.classroom:hover .temperature{
    color: #c0392b;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}


/* Анимация для начальной загрузки */
.classroom {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}
.classroom:nth-child(2) {
    animation-delay: 0.2s;
}

.classroom:nth-child(3) {
     animation-delay: 0.4s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Медиа-запрос для маленьких экранов (телефонов) */
@media (max-width: 600px) {
     .container {
        padding: 20px;
    }

    .classroom {
          width: 100%; /* На телефонах будет по 1 в ряд */
         margin: 10px 0;
    }
     .temperature {
          font-size: 1.6em;
    }
        h1 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }
}
